# 忽略node_modules目录
node_modules

# 忽略Git版本控制相关文件
.git
.gitignore

# 忽略所有Markdown文件
*.md

# 忽略npm日志和lock文件
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# 忽略编辑器配置文件
.editorconfig
.vscode

# 忽略所有.env文件（您可能需要根据项目需求调整这一项）
.env*

# 忽略构建输出目录
build
dist

# 忽略测试文件
__tests__
__mocks__

# 忽略其他配置文件
*.config.js
*.config.json
