/*===== VARIABLES CSS =====*/
:root{
    
    
    /*===== Colors =====*/
    --primary-color-dark: #111827;
    --primary-color-white: #ffffff;
    --primary-color-blue: #5048E5;
    --primary-color-gray: #373A3C;
    --primary-color-light-gray: #979797;
    --header-color-yellow: #FCE944;
    --icon-color-gray: #373A3C;
    --text-color-gray: #373A3C;
    --search-button-color-gray: #979797;
    
    /*===== Font and typography =====*/
    --primary-font-family: sans-serif;
    
    /*===== Margenes =====*/

  }
