.formGroup {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-bottom: 20px;
}

.password {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-bottom: 20px;
}

.label {
   display: block;
   margin-bottom: 10px;
   text-align: left;
   color: var(--auth-option-gray);
   font-size: 16px;
}

.emailFormGroup {
   margin-bottom: 15px;
}

.inputField {
   width: 95%;
   padding: 10px;
   margin-bottom: 5px;
   border: 1px solid var(--auth-input-border-gray);
   border-radius: 4px;
   height: 23px;
   font-size: 16px;
   color: var(--primary-color-dark);
}

.showHideToggle {
   position: absolute;
   top: 55%;
   left: 87%;
   background: none;
   border: none;
   color: var(--auth-option-gray);
   text-decoration: underline;
}

.submitButton {
   background-color: var(--button-color-blue);
   color: var(--primary-color-white);
   height: 43px;
   width: 100%;
   align-self: center;
   font-weight: bold;
   font-size: 15px;
   border-radius: 3px;
   border-width: 0px;
   cursor: pointer;
}

.bottomGroup {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 10px;
}

.bottomGroupText {
   margin: 0;
   color: var(--auth-option-gray);
   font-size: 14px;
}

.link {
   color: var(--link-color-blue);
   text-decoration: underline;
   cursor: pointer;
}

.errorMessage {
   color: var(--auth-validation-error-red);
   align-self: flex-end;
   font-size: 14px;
}