.headingDiv {
   margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
   .headingDiv {
      padding-top: 25px;
   }
}

.header {
   font-size: 2em;
   font-weight: bold;
   margin-top: 0.67em; 
   margin-bottom: 0.67em; 
   color: var(--primary-color-dark);
}

.lowerHeader {
   font-size: 0.85em;
   color: var(--auth-option-gray);
}
