.bottom-group {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 10px;
}

/* Add this media query for mobile devices */
@media screen and (max-width: 600px) {
   .bottom-group {
      flex-direction: column;
      align-items: center;
   }
   #top {
      margin-bottom: 15px;
   }
}

.bottom-group p {
   margin: 0;
   color: #6B7280;
   font-size: 14px;
}

.link {
   color: blue;
   text-decoration: underline;
   cursor: pointer;
   font-size: 14px;
}