.form-group {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-bottom: 20px;
}

.password {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-bottom: 20px;
}

label {
   display: block;
   margin-bottom: 10px;
   text-align: left;
   color: #6B7280;
   font-size: 16px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
   width: 95%;
   padding: 10px;
   margin-bottom: 5px;
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   height: 23px;
   font-size: 16px;
   color: #111827;
}

#show-hide-toggle {
   position: absolute;
   top: 55%;
   left: 87%;
   background: none;
   border: none;
   color: #6B7280;
   text-decoration: underline;
}

input[type="submit"] {
   background-color: #5048E5;
   color: white;
   height: 43px;
   width: 100%;
   align-self: center;
   font-weight: bold;
   font-size: 15px;
   border-radius: 3px;
   border-width: 0px;
   margin-top: 10px;
}

.bottom-group {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 10px;
}

.bottom-group p {
   margin: 0;
   color: #6B7280;
   font-size: 14px;
}

.link {
   color: blue;
   text-decoration: underline;
   cursor: pointer;
}

.error-message {
   color: #FC5A44;
   align-self: flex-end;
   font-size: 14px;
}